#version-dropdown {
    font-family: inherit;
    font-size: 14px;
    color: #333;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
}

#version-dropdown:hover, #version-dropdown:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.rst-current-version {
    cursor: pointer;
}

.rst-other-versions {
    display: none;
}

.rtd-current-item {
    font-weight: bold;
}
